
/* common shared styles */
*{
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 26px 20px 20px 0px;
}
.header{
    background-color: antiquewhite;
    background: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin: 80px;
}

li {
    list-style: none;
    margin-left: 30px;
    
    
}
nav>ul{
    display: flex;
    align-items: center;
   
    
}

.button-primary{
    background-color: orangered;
    padding: 15px 40px 15px 40px;
    border-radius: 7px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    
}

nav a{
    text-decoration: none;
}

.text-primary{
    color: salmon;
}
 
.banner-section{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px 0px;
    align-items: center;
    
}

.profile-image{
    width: 500px;
    margin-right: 40px;
    
}

