
/* common shared styles */
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 26px 20px 20px 0px;
}
.header{
    background-color: antiquewhite;
    background: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin: 80px;
}

li {
    list-style: none;
    margin-left: 30px;
    
    
}
nav>ul{
    display: flex;
    align-items: center;
   
    
}

.button-primary{
    background-color: orangered;
    padding: 15px 40px 15px 40px;
    border-radius: 7px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    
}

nav a{
    text-decoration: none;
}

.text-primary{
    color: salmon;
}
 
.banner-section{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px 0px;
    align-items: center;
    
}

.profile-image{
    width: 500px;
    margin-right: 40px;
    
}
/* Main section styles */

.about-title{
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}
.description-title{
    text-align: center;
    /* text-align: justify; */
  text-justify: inter-word;
    
}
.about{
    padding: 35px;
    margin: 130px 0px;
    background-color: blanchedalmond;
    max-width: 1140px;
    margin: 35px auto;
}


.about-container{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    max-width: 130px 0;
}
.about-description{
    text-align: center;
    
}

#i-do{
    padding: 35px;
    margin: 130px 0px;
    max-width: 1140px;
    margin: 0 auto;
}

.skill-container{
    display: flex;
    gap: 24px;
    padding: 35px;
    margin: 130px 0px;
    max-width: 1140px;
    margin: 35px auto;

    /* 
        padding: 35px;
    margin: 130px 0px;
    background-color: blanchedalmond;
    max-width: 1140px;
    margin: 35px auto; */
}

.skill{
    padding : 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}

.resume-column{
    display: flex;
    gap : 50px
}
.resume-item hr{
    margin: 30px;
}

.footer-container{
    display: flex;
    gap: 40px;
    padding: 35px;
    margin: 130px 0px;
    background-color: blanchedalmond;
    max-width: 1140px;
    margin: 35px auto;
}
input{
    padding: 18px 35px;
    margin-bottom: 24px;
    border-radius: 5px;
}
.footer-description{
    width: 50%;
    text-align: center;
}